:root {
  --background: #b9c0b1;
  --highlight: #9ba591;
  --headingsbold: #748067;
}
body {
  margin: 0;
  padding-top: 55px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--background);
}
/*text*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headingsbold);
}
.highlight:hover {
  color: var(--highlight) !important;
}
.no_underline {
  text-decoration: none;
}
/*header*/
.navbar,
header {
  background-color: var(--background);
}
.navbar-brand {
  padding-left: 10px;
  font-weight: 700;
  color: var(--headingsbold) !important;
}
.navbar-nav {
  padding-right: 15px;
}
a.nav-link {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
  color: var(--headingsbold) !important;
}
/*main*/
main {
  position: absolute;
  top: 0;
}
#hello {
  font-family: "Times New Roman", Times, serif;
}
#about_me {
  padding-top: 60px;
}
/*cta*/
.bi-github {
  color: #333;
}
.bi-linkedin {
  color: #0077b5;
}
.bi-envelope-fill {
  color: #4c4c4c;
}
.card-text {
  background-color: #fafafa;
}
/*transition royalblue*/
#blue {
  font-weight: normal;
  font-variant: normal;
  color: currentColor;
  transition: font-weight 1s ease-in, color 1s ease-in, font-variant 1s ease-in;
}
#blue:hover {
  font-weight: bolder;
  font-variant: small-caps;
  color: #122c65;
}
/*animation popupcard*/
.card {
  width: 400px;
  min-width: 200px;
  max-width: 60vw;
  background-color: #fafafa;
  box-shadow: 0px 0px 0px 0px rgba(76, 76, 76, 0.29);
  transform: scale(0);
  animation: popupcard 8s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@keyframes popupcard {
  0% {
    transform: scale(0);
    box-shadow: 0px 0px 0px 0px rgba(76, 76, 76, 0.29);
  }
  92% {
    transform: scale(1);
    box-shadow: 15px 5px 50px 5px rgba(76, 76, 76, 0.29);
  }
  100% {
    transform: scale(0.98);
    box-shadow: 5px 5px 15px 0px rgba(76, 76, 76, 0.29);
  }
}
/*resume*/
.resumelist {
  list-style: none;
  padding-left: 15px;
}
/*showcase*/
.showcase_img {
  object-fit: contain;
}
#showcase_mini > img {
  max-height: 20vh;
  width: 100vw;
}
.showcase_img_mini {
  object-fit: cover;
}
/*contact*/
.megaphone {
  color: var(--headingsbold);
  font-size: 100pt;
}
.megaphone_mini {
  color: var(--headingsbold);
  font-size: 30pt;
}
.contact {
  font-size: 15pt;
  font-weight: 600;
  color: var(--headingsbold);
}
.contact_icon {
  font-size: 15pt;
}
.contact_link {
  font-size: 12pt;
  padding-left: 5px;
  color: #212529;
}
/*footer*/
